# Auto Generated
emoji-country-flag
gig-nuuuwan
google-api-python-client
infographics-nuuuwan
matplotlib
numpy
pandas
pycountry
pycountry-convert
pypopulation
scipy
tablex-nuuuwan
tabula-py
tweepy==3.10.0
utils-nuuuwan
xlrd
